<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('main/head'); %>
    <div>
        <p>
            <% for (let n = 0; n < datading.length; n++) { %> 
                 <%= datading[n] %> <br>
            <% } %>
        </p>
    </div>
    <%- include ('main/footer'); %>
  </body>
</html>
